body {
    font-family: 'Gentium Book Plus', serif;
    font-weight: 900;
    margin: 0%;
}

.donation {


    padding-top: 100px;
    text-align: center;
    background-image: url(donation7.jpg);
    color: white;
    background-repeat: no-repeat;


    height: 600px;



}

.h1 {
    font-size: 55px;
    width: 50%;
    text-align: center;
    padding-left: 300px;
    padding-top: 70px
}

.p1 {
    font-size: 18px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;

}

.donate {
    text-decoration: none;

    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: azure;
    font-size: 20px;
}

.today {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;

}

.today-donate {
    font-size: 20px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}


.box {

    justify-content: space-evenly;
    display: flex;


    font-size: 25px;
    padding-left: 15px;



}






#color {
    color: chocolate;
    box-sizing: border-box;

}

.taka {
    margin: 150px;
    padding-left: 380px;
    padding-right: 300px;
    text-underline-position: 50px;
}




.button {

    text-align: center;
    margin-left: 45%;
    justify-content: center;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);


    border-radius: 5px;
    font-weight: 700;
    color: azure;
    font-size: 20px;
    margin: 550px;
    margin-bottom: 300px;
}

.our {
    font-size: 40px;
    padding-left: 450px;
    margin: 50px;
    margin-top: 150px;
}

.p2 {
    font-size: 20px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

.flex {
    display: flex;
    padding: 100px 70px;
}

.colum {

    display: block;
    background-color: papayawhip;
    padding: 5%;
}

.food {
    text-align: center;
    padding-left: 30px;
    padding-top: 100px;
}

.coluum {

    background-color: beige;
    padding: 5%;
}

.home {

    text-align: center;
    padding-left: 30px;
    padding-top: 100px;
}



.coolum {

    background-color: gainsboro;
    padding: 5%;
}

.school {
    text-align: center;
    padding-left: 30px;
    padding-top: 100px;

}

.display {
    justify-content: center;

    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

.up {
    font-size: 40px;
}

.down {
    font-size: 20px;
}

.subs {
    font-weight: 400;
    padding: 10px 15px;
    color: white;
    background-color: tomato;
    text-decoration: none;
}

.input {
    padding: 10px 15px;
}

.back {
    background-color: peachpuff;
    padding: 80px 150px;
}


.footer {
    background-color: black;
    background-size: 30px 50px;

    justify-content: center;
    margin-top: 50px;
    border-bottom: 10px;



}

.footer h2 {

    font-family: 'Roboto Mono', monospace;
    color: red;
    text-align: center;
}

.footer p {
    color: white;
    text-align: center;

}